a.py
.Trash-*
__pycache__
.vscode
.ipynb_checkpoints

# Environment variables file, should not be tracked
.env

# glance
glance/ollama
*.csv
glance/ytrec/his.tmp
glance/ytrec/his.processing.tmp
glance/ytrec/history.json
glance/ytrec/.ytrec
glance/watcher/data
*rss.xml

# jellyfin
jellyfin/*
!jellyfin/docker-compose.yml

# pihole
pihole/*
!pihole/docker-compose.yml

# open-webui
open-webui/data

# n8n
n8n/data
