ca
certs
a.py

# glance
glance/ollama
__pycache__
.vscode
.ipynb_checkpoints
*.csv
glance/ytrec/his.tmp
glance/ytrec/his.processing.tmp
glance/ytrec/history.json
glance/ytrec/.ytrec

# jellyfin
jellyfin/*
!jellyfin/docker-compose.yml

# pihole
pihole/*
!pihole/docker-compose.yml
