# H.265 System Configuration

# Manager: Root directory where videos are stored (Master)
VIDEO_ROOT=/mnt/ssd/media/jf_movies/

# Worker: VIDEO_ROOT is sshfs mounted to H265_MOUNT in worker system
H265_MOUNT=/mnt/ssd/media/jf_movies/

# FFmpeg settings
DEFAULT_PRESET=medium
DEFAULT_CRF=28  # also used as qp for vaapi
DEFAULT_THREADS=0  # useless as of now, 0 means all available cores
POLL_INTERVAL=1  # in seconds
USE_VAAPI=false  # set to true to enable VAAPI hardware acceleration
