# Paste your Cloudflare Tunnel token here
TUNNEL_TOKEN=your_token_here_starting_with_ey

# OpenTofu Authentication
TF_VAR_cloudflare_api_token=your_cloudflare_api_token_here
TF_VAR_cloudflare_zone_id=your_cloudflare_zone_id_here
TF_VAR_cloudflare_account_id=3d1259a34be7e0711ec764fe4acabe35
